</div>
<!-- div wrap end -->
    <div id="footer">
      <div class="container">
        <p class="copyright"> &copy; Copyright <a href="www.hackncs.com"> Nibble Computer Society </a> </p>
      </div>
    </div>

  <script src="../js/smaller.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
