<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid '>
  <div class='row text-center'>
    <div class='col-xs-12'>
      <b>Browse By Year:</b>
      <div class="btn-group" role="group">
        <a type="button" class="btn btn-default" href="/browse/year/1"> Ist</a>
        <a type="button" class="btn btn-default" href="/browse/year/2">IInd</a>
        <a type="button" class="btn btn-default" href="/browse/year/3">IIIrd</a>
        <a type="button" class="btn btn-default" href="/browse/year/4">IVth</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
  <%  allBooks.forEach(function(book){ %>
    <div class="book-wrap col-xs-12 col-sm-4 col-md-3 text-center">
      <div class="thumbnail">
          <div class="image">
          <img src="/uploads/<%= book.image %>" alt="Image">
          </div>

          <div class="caption">
              <h4><a> <%= book.title %></a></h4>
              <% if(book.sold) { %>
                <h5 style="color:red;"> Sold </h5>
              <% } else { %>
                <h5 style="color:green;"> Available </h5>
              <% } %>

              <a class="btn btn-default" href="/browse/<%= book._id %>">More Info</a>
          </div>
          <div class="info">
              <p> <%= book.uploadDate.toDateString() %> </p>
          </div>
      </div>
    </div>

  <%  }) %>


  </div>




</div>


<% include partials/footer %>
