<% include partials/header %>

<img id="bg" src="./img/bg.jpg" alt="">
<div class="container-fluid landing-wrapper">

  <div class="home-logo col-xs-10 col-xs-push-1 col-sm-4 col-sm-push-4 text-center">
    <a  href="/">
      <img class="img-responsive home-logo-img" src="/img/logo.png" alt="logo">
    </a>
  </div>

  <div class="container-fluid">

      <div class="row">
        <div class="nav-wrap btn-group btn-group-justified" role="group">
            <a href="/browse" class="btn btn-default home-btn" role="button">Browse</a>
            <a href="/sell" class="btn btn-default home-btn" role="button">Sell</a>
            <a href="/signup" class="btn btn-default hidden-xs home-btn" role="button">Sign Up</a>
            <a href="/signin" class="btn btn-default home-btn" role="button">Sign In</a>
        </div>
      </div>

    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 text-center quote">
                    <p>An investment in knowledge always pays the best interest.</p>
                </div>
            </div>

          </div>
    </div>

</div>


<% include partials/footer %>
