<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid '>

  <div class='row'>
    <div class="col-xs-1 col-sm-3"></div>
    <div class="card new col-xs-10 col-sm-6 text-center">
        <% if(!currentUser) { %>
        <div class="alert alert-danger" role="alert"> Users can view your post better when you sign up. <a href="/signup">Sign Up now!</a> </div>
        <% } %>

        <h1> Upload New Product: </h1>

        <form action="/browse" enctype="multipart/form-data" method="POST">
            <input class="form-control" type="file" accept=".png, .jpg, .jpeg"  placeholder="Image" name="image" >
            <input class="form-control" type="text" placeholder="Title Of The Book" name="title" required>
            <textarea class="form-control" placeholder="Enter details about your product.. " name="desc"></textarea>
            <input class="form-control" type="number" placeholder="Contact Number" name="contact" maxlength="[10]" required>
            <% if(!currentUser) { %>
            <input class="form-control" type="text" placeholder="Enter Your Name" name="postedBy" required>
            <% } %>
            <label>
              Year : <select name="year">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
            </label>

            <button class="btn btn-success" type="submit"> Upload </button>
        </form>

    </div>

  </div>

</div>

<% include partials/footer %>
