<% include partials/header %>
<% include partials/navbar %>

<div class='container-fluid '>

  <div class='row'>
    <div class="col-xs-1 col-sm-4"></div>
    <div class="card col-xs-10 col-sm-4 text-center">

        <h1> Sign In: </h1>

        <form action="/signin" method="POST">
            <input class="form-control" type="text" placeholder="Username" name="username" required>
            <input class="form-control" type="password" placeholder="Password" name="password" required>
            <button class="btn btn-success" type="submit"> Sign In </button>
        </form>

        <p><a href="/signup">Create an account</a></p>

    </div>

  </div>

</div>

<% include partials/footer %>
