@import url(http://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Lato|Poiret+One|Stardos+Stencil|Gochi+Hand|Irish+Grover);

/*===============landing-wrapper====================*/
.home.row {
  padding: 30px 0;
  height: 100%;
  background: rgba(253, 145, 142, 0.19);
}

/*========styles for side book background image======= */

/*.home-logo {
  height: 250px;
margin: 0 auto;
}

.list-group .home a {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Poiret One";
  font-size: 30px;
  color:#f26c4f;
  text-decoration: none;
}

.list-group .home a:hover {

}

.list-group-item {
  background-color: transparent;
  border: none;
  width: 50%;
  margin: 0 auto;
  transition: 0.2s linear;
}
.list-group-item:hover {
  border-left: 5px solid #8dc63f;

}*/

/*end*/


.topspace{
  padding-top:120px;
}

.navbar-fixed-top .container-fluid {
  padding:30px 35px;

}

.smaller {
  padding: 0 !important;
  padding: 10px 20px !important;
}
/*Image*/
img#bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /*Push back*/
  z-index:-1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*end*/

.landing-wrapper {
  /*background: url('../img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;*/
  color: #fff;
  font-family: "Poiret One";
  background: rgba(222, 222, 222, 0.57);
}

.jumbotron {
  background: transparent;
}

.jumbotron .container-fluid {
  padding: 35px 0;
  background: rgba(204, 204, 204, 0.3);
  color:#f26522;
}


/* seperate home page navigation only */
.nav-wrap {
  border-radius: 0px;
  border: none;
}

.nav-wrap a, .nav-wrap a:active, .nav-wrap a:focus {
    border-radius: 0px;
    outline: none;
    padding: 20px 0;
    border: none;
    background: rgba(236, 236, 236, 0.61) !important;
    color: #f26522;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all 0.3s linear;
    border-bottom: 5px solid transparent;
}

.nav-wrap a:hover {
  color: #8dc63f;
  background: rgba(191, 189, 189, 0.54);
  border-bottom: 5px solid #8dc63f;
}

.home-logo {
  padding: 20px 0;
}
.home-logo-img {
  height: 200px;
  margin: 0 auto;
}

/*form*/
.form-control {
  height: 40px;
padding: 10px 15px;
margin: 8px 0;
font-size: 16px;
color: #2f1f1f;
background-color: rgb(255, 255, 255);
border: none;
border-radius: 0px;
outline: none;
}


/* ==================================================================================
                           Common Navbar
====================================================================================*/
.navbar {
  border-right: 0;
  border-left: 0;
  border-radius:0;
}

.navbar-default {
    background-color: #2E3837;
    border-color: #e7e7e7;
}
    .navbar-brand {
      padding:0 10px;
    }
      #brand-logo {

          height: 65px;
          transform: translate(0px, -5px);
      }

  .navbar-nav {
    padding: 0 10px;
  }
  .navbar-default .navbar-collapse {
      margin-top: 20px;
    }
    .navbar-default .navbar-nav>li>a {
      color: #fff ;
      font-family: "Poiret One";
      letter-spacing: 1px;
      font-size:18px;
      transition: all 0.3s linear;
      margin-right: 5px;
    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active {
      color: #fff;
      background: rgba(160, 160, 160, 0.31);
    }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: rgba(221, 221, 221, 0.18);
  }

/* ============================================================================
                             Common Navbar End
  ==============================================================================*/


/*Sign Up / Sign In Cards*/

.card.new {
  margin-top: 0;
  /*margin-bottom: 10px;*/
}

.card {
  margin-bottom: 15px;
  margin-top: 30px;
  background: #2e3837;
  color: #fff;
  font-family: Lato;
  padding: 30px 10px;
}

.card h1 {
    padding-bottom: 20px;
    font-family: Poiret One;
}

.card form input, .card form input:focus, .card form textarea {
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid #41bfcc;
    background: rgba(204, 204, 204, 0.33);
    color:#fff;
}
.card form input:focus {
  outline: none;
}

.new.card form input, .new.card form textarea {
  margin-bottom:auto;
}

.card form textarea { height: 150px; }

.card form button, .card form button:focus {
    display: block;
    margin: 0 auto;
    width: 80%;
    background: #8dc63f;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    font-size: 20px;
    transition: 0.1s linear;
}
.card form button:focus { outline:none; }
.card form button:hover, .card form button:active {
  background: #8dc63f;
  letter-spacing: 1px;
}
.card p {
  margin-top: 25px;
}

.card p a {
    color: #fff;
    font-family: Poiret One;
    font-size: 16px;
}

.card form label {
  display: block;
    max-width: 80%;
    margin: 8px auto;
    font-size: 16px;
    background: rgba(204, 204, 204, 0.33);
    border-left: 5px solid #41bfcc;
    color: #919292;
    padding: 5px 0;
}
.card .alert {
  width: 80%;
  margin: auto;
}
/* sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrap {
  flex:1;
}

#footer {
  background: #2e3837;
  color: #fff;
  padding: 5px 0;
  width: 100%;
}

#footer .copyright {
  margin: 0;
  letter-spacing: 1px;
  font-family: "Poiret One";
}
#footer .copyright a {
  color: #41bfcc;
}

/* sticky footer styles end */


  @media only screen and (min-width: 768px) {
    .nav-wrap .btn-group {
      display: none;
    }

    .quote p {
      font-size: 35px;
      font-weight: bold;
    }
    .author p {
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .navbar-default .navbar-collapse {
      margin-top: 0;
    }
  }
